@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Open+Sans:wght@300;400&display=swap');

:root {
    --headings: 'Coda Caption', sans-serif;
    --bodyFont: 'Open Sans', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease;
    --lightgray: #f6f6f6;
    --white: #fff;
    --black: #1e1e1e;
    --primary: #3a8bcd;
    --gray: #6c757d;
    --text: #4a4a4a;
    --borders: #eeeeee;
}

/*********************
basic styles
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFont);
    font-size: var(--fontSize);
    letter-spacing: 1px;
    line-height: 2rem;
}

button {
    background-color: var(--primary);
    color: var(--white);
    padding: 15px 25px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    transition: var(--transition);
}

button:hover {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.clearfix {
    display: block;
    content: "";
    clear: both;
    padding: 20px;
    margin: 0 auto;
} 

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--headings);
    font-weight: 600;
    color: var(--black);
}

h1 a{
    transition: var(--transition);
}

h1 a:hover{
    color: var(--text);
}

hr {
    width: 100%;
    content: "";
    height: 2px;
    display: block;
    background-color: var(--lightgray);
    border: none;
    margin: 20px 0;
}

iframe{
    width: 100%;
   
}

.container {
    width: 70%;
    margin: auto;
    padding: 80px 10px;  
}

.active{
    color: var(--primary);
}

.findus{
    display: inline-block;
    color: var(--text);
}

.findus i{
   color: var(--primary);
   margin: 0 10px;
   transition: var(--transition);
}
.findus i:hover{
    color: var(--text);
    
}

form input[type="text"], form input[type="email"]{
    width: 40%;
    margin-bottom: 20px;
    background: transparent;
    border:1px solid var(--gray);
    padding: 15px;  
    color: var(--white);
}
form button {
    background: var(--primary);
    font-size: 1rem;
    text-transform: none;
    border-radius: 5px;
    color: var(--black);
}
form button:hover{
    opacity: .8;
}

h3 {
    padding: 10px 0 30px 0;
}

h3::before{
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background: var(--primary);
    margin-bottom: 10px;
}

/***header***/
nav {
    text-align: center;
    padding-top: 30px;
}

nav h1 a {
    font-size: 3rem;
    padding-bottom: 30px;
    font-family: var(--headings);
    color: var(--primary);
    margin: 0 auto;
}

nav a i {
    color: var(--text);
}

nav ul {
    padding-top: 40px;
    margin: 0 auto;
}

nav ul li {
    display: inline;
    padding: 0 50px;
    text-transform: uppercase;
    text-align: center;

}
nav ul li a {
    color: var(--text);
    font-weight: 600;
    transition: var(--transition);
}

nav ul li a:hover {
    color: var(--primary);
}

/***mainHead***/
.mainHead {
    background-image: url(../img/header.jpg);
    background-position: center top;
    background-size: cover;
    padding: 200px 0;
}

.mainHead h3:after{
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background: var(--primary);
    margin-top: 20px;
}

.mainHead article {
    background: rgba(255,255,255,.7);
    width: 40%;
    padding: 40px;
    margin-left: 15%;
}

.mainHead article h3 {
    font-size: 1.7rem;
    padding-bottom: 30px;
}

.mainHead article p {
    font-size: 1rem;
    padding: 30px 0;
}


/***items***/
.items .owl-carousel div{
    text-align: center;
}

.items .owl-carousel div h4{
    padding-top: 20px;
}

.items .owl-carousel div p{
    color: var(--primary);
    font-size: .9rem;
}


/***subscribe***/
.subscribe {
    background-color: var(--primary);
}
.subscribe article{
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    height: 50vh;
}
.subscribe article p { 
    padding: 20px 10px;
    color: var(--white);
    font-weight: 600;
}
.subscribe button {
    background: var(--lightgray);
}


/***single***/
.single article, .aboutus article{
    display: inline-block;
}

article .slika{
   float: left;
   width: 35%;
   border: 1px solid var(--primary);
   border-radius: 10px;
   padding-top: 20px;
}

article .opis{
    float: right;
    width: 55%;
 }
 article .slika img {
     width: 100%;
 }

 article .tekst h2+p{
    color: var(--primary);
    padding-bottom: 15px;
 }
 article .tekst h2+p+p{
    color: var(--text);
    padding-bottom: 20px;
 }

 .single form select{
     padding: 10px;
     margin: 10px 20px 10px 0;
 }

 article .tekst p{
     font-size: 1rem;
     color: var(--text);
 }

 .single p a {
     color: var(--primary);
 }



/***about***/
.aboutus p{
    color: var(--text);
    line-height: 1.8rem;
    font-weight: 600;
}

.aboutus article .slika{
    border: none;
 }
/*********************
contact
*********************/
.contact article .slika {
    width: 48%;
    border: none;
    padding:0;
}
.contact article .opis{
    width: 48%;
}

.contact form input,
.contact textarea {
    width: 100%;
    margin-bottom: 10px;

}


/***footer***/
footer {
    text-align: center;
    padding-top: 100px;
}

footer a{
    font-size: 2rem;   
    padding-bottom: 30px;
    font-family: var(--headings);
    color: var(--primary);
    margin: 0 auto;
}

footer nav{
    padding-bottom: 30px;
}

footer nav a .fa-hiking{
    font-size: 2.5rem; 
}

footer ul li a{
    font-size: 1rem;  
    font-weight: 600; 
    font-family: var(--bodyFont);
    color: var(--text);
    margin: 0 auto;
}
footer ul li a:hover{
    color: var(--primary);
}

footer div i{
    font-size: 3rem;
    color: var(--text);
    margin: 0 20px;
}

footer div i:hover{
    opacity: .8;
}

footer p{
    padding: 200px 0 30px 0;
    color: var(--text);
    font-weight: 400;
}


