@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Open+Sans:wght@300;400&display=swap');

:root {
    --headings: 'Coda Caption', sans-serif;
    --bodyFont: 'Open Sans', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease;
    --lightgray: #f6f6f6;
    --white: #fff;
    --black: #1e1e1e;
    --primary: #3a8bcd;
    --gray: #6c757d;
    --text: #4a4a4a;
    --borders: #eeeeee;
}

/*********************
basic styles
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFont);
    font-size: var(--fontSize);
    letter-spacing: 1px;
    line-height: 2rem;


}

button {
    background-color: var(--primary);
    color: var(--white);
    padding: 15px 25px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    transition: var(--transition);
}

button:hover {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

/* .clearfix {
    display: block;
    content: "";
    clear: both;
    padding: 20px;
    margin: 0 auto;
} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--headings);
    font-weight: 600;
    color: var(--black);
}

hr {
    width: 30px;
    content: "";
    height: 2px;
    display: block;
    background-color: var(--primary);
    border: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.active{
    color: var(--primary);
}
/***header***/
nav {
    text-align: center;
    padding-top: 30px;
}

nav h1 a {
    font-size: 3rem;
    padding-bottom: 30px;
    font-family: var(--headings);
    color: var(--primary);
    margin: 0 auto;
}

nav a i {
    color: var(--text);
}

nav ul {
    padding-top: 40px;
    margin: 0 auto;
}

nav ul li {
    display: inline;
    padding: 0 50px;
    text-transform: uppercase;
    text-align: center;

}
nav ul li a {
    color: var(--text);
    font-weight: 600;
    transition: var(--transition);
}

nav ul li a:hover {
    color: var(--primary);
}

.mainHead {
    background-image: url(../img/header.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.mainHead article {
    position: absolute;
    top: 200px;
    left: 200px; 
    background: var(--white);
    opacity: .8;
    width: 40%;
    padding: 50px;
}

.mainHead article h3 {
    font-size: 1.7rem;
    padding-bottom: 30px;
}

.mainHead article p {
    font-size: 1rem;
    padding: 30px 0;
}


/***items***/
.items {
    padding: 70px 200px;
}
.items h3 {
    padding: 10px 0 30px 0;
}

.items .owl-carousel div{
    text-align: center;
}


.items .owl-carousel div h4{
    padding-top: 20px;
}


.items .owl-carousel div p{
    color: var(--primary);
    font-size: .9rem;
}


/***subscribe***/
.subscribe {
    background-color: var(--primary);
}
.subscribe article{
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    height: 50vh;
}
.subscribe article p { 
    padding: 20px 10px;
    color: var(--white);
    font-weight: 600;
}

.subscribe article form .name{
    background: transparent;
    border:1px solid var(--lightgray);
    padding: 15px;  
    color: var(--white);
}
.subscribe article form button {
    background: var(--lightgray);
    font-size: 1rem;
    text-transform: none;
    border-radius: 5px;
    color: var(--black);
}
.subscribe article form button:hover{
    opacity: .8;
}

/***footer***/
footer {
    text-align: center;
    padding-top: 100px;
}

footer a{
    font-size: 2rem;   
    padding-bottom: 30px;
    font-family: var(--headings);
    color: var(--primary);
    margin: 0 auto;
}

footer nav{
    padding-bottom: 30px;
}

footer nav a .fa-hiking{
    font-size: 2.5rem; 
}

footer ul li a{
    font-size: 1rem;  
    font-weight: 600; 
    font-family: var(--bodyFont);
    color: var(--text);
    margin: 0 auto;
}
footer ul li a:hover{
    color: var(--primary);
}
}

footer div i{
    font-size: 3rem;
    color: var(--text);
    margin: 0 20px;
}

footer div i:hover{
    opacity: .8;
}

footer p{
    padding: 200px 0 30px 0;
    color: var(--text);
    font-weight: 400;
}



